flows.json
[{"id":"8d1b9d30.a01ed","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"710966c3.090e28","type":"inject","z":"8d1b9d30.a01ed","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["dd361a68.69c418"]]},{"id":"dd361a68.69c418","type":"function","z":"8d1b9d30.a01ed","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"8c191142-b869-49f8-9a56-f5bca80f6752\"\nvar password=\"e3861fcd-dec1-44ca-9bb8-1e503f9db58c\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ir\",msg.payload.ir)\nglobal.set(\"is\",msg.payload.is)\nglobal.set(\"li\",msg.payload.li)\nglobal.set(\"dti\",msg.payload.dti)\nglobal.set(\"fico\",msg.payload.fico)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["1652be65.7bd772"]]},{"id":"1652be65.7bd772","type":"http request","z":"8d1b9d30.a01ed","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":510,"y":340,"wires":[["c62253a2.f89f","ac4bd76.2a19628"]]},{"id":"ac4bd76.2a19628","type":"function","z":"8d1b9d30.a01ed","name":"prediction","func":"var token=msg.payload.token;\nvar ir=global.get(\"ir\");\nvar is=global.get(\"is\");\nvar li=global.get(\"li\");\nvar dti=global.get(\"dti\");\nvar fico = global.get(\"fico\");\nmsg.payload={\"fields\":[\"ir\",\"is\",\"li\",\"dti\",\"fico\"],\"values\":[[ir,is,li,dti,fico]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["6b033ebf.31cdc"]]},{"id":"503ed2c0.6403ec","type":"function","z":"8d1b9d30.a01ed","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":20,"wires":[["7d652a9f.839604","6f23c1fd.f625"]]},{"id":"c62253a2.f89f","type":"debug","z":"8d1b9d30.a01ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":400,"wires":[]},{"id":"6f23c1fd.f625","type":"debug","z":"8d1b9d30.a01ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":200,"wires":[]},{"id":"6878096.b53b9f8","type":"ui_form","z":"8d1b9d30.a01ed","name":"","label":"","group":"b4714f24.dbb84","order":0,"width":0,"height":0,"options":[{"label":"int_rate","value":"ir","type":"number","required":true},{"label":"installment","value":"is","type":"number","required":true},{"label":"log_annual_inc","value":"li","type":"number","required":true},{"label":"dti","value":"dti","type":"number","required":true},{"label":"fico","value":"fico","type":"number","required":true}],"formValue":{"ir":"","is":"","li":"","dti":"","fico":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["dd361a68.69c418"]]},{"id":"7d652a9f.839604","type":"ui_text","z":"8d1b9d30.a01ed","group":"b4714f24.dbb84","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":120,"wires":[]},{"id":"6b033ebf.31cdc","type":"http request","z":"8d1b9d30.a01ed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/514677f7-6257-493c-b7bd-236de1684343/deployments/4b1651f0-3e2a-45c4-a026-15b2293759e5/online","tls":"","proxy":"","authType":"basic","x":430,"y":60,"wires":[["503ed2c0.6403ec","6f23c1fd.f625"]]},{"id":"b4714f24.dbb84","type":"ui_group","z":"","name":"home","tab":"67073a54.1ced74","disp":true,"width":"6","collapse":false},{"id":"67073a54.1ced74","type":"ui_tab","z":"","name":"predict","icon":"dashboard","disabled":false,"hidden":false}]